{% extends 'base.html.twig' %}

{% block title %}Departements{% endblock %}

{% block body %}
    <h1>Departements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Dep_nom</th>
                <td>{{ departement.depNom }}</td>
            </tr>
            <tr>
                <th>Dep_mail</th>
                <td>{{ departement.depMail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('departements_index') }}">back to list</a>

    <a href="{{ path('departements_edit', {'id': departement.id}) }}">edit</a>

    {{ include('departements/_delete_form.html.twig') }}
{% endblock %}
